.dogs-food{
	background: url(../images/dogsfood.jpg)no-repeat 0px 0px;
	min-height:500px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff
}
a.dogs-top-food {
	border: none;
	outline: 0;
	color: #fff;
	background: #77b300;
	padding: 4px 18px 4px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	font-size:14px;
	font-weight: 100;
}
a.dogs-top-food:hover {
	background: #196175;
	text-decoration:none;
}
.dogs-food-top-info {
		padding:5em 0;
}
.dogs-food-bottom {
	margin-top: 3em;
}
.dogs-food-info h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.3em;
	margin: 20px 0 10px;
	font-weight: 400;
}
.dogs-food-info p {
	font-family: 'Arimo', sans-serif;
	font-size: 0.875em;
	width: 70%;
	margin: 0 auto;
	line-height: 1.5em;
	padding-bottom: 1em;
}